body{
	background-color:#9c9c9c;
	font-family:Arial;
}
#logo{
	padding-left:98px; 
	margin-top:20px;
}
#contenedor{
	width:1500px;
	margin:auto;
}
header{
	background-color:#2B7BE4;
}
#ingresar{
	margin-left:80px; 
	float:left; 
	width:45%; 
	margin-top:40px;  
	border-right:3px solid white;
	border-right-style:groove;
}
#titulo-crear{
	margin-left:20px;
}
#mensaje-error{
	text-align:center;
}
#nombre{
	margin:20px; 
	width:200px;
}
#a-paterno{
	margin:20 10; 
	width: 150px;
}
#a-materno{
	margin:20px; 
	width: 150px;
}
#correo{
	margin:20px;
	width:550px;
}
#contrasena{
	margin:20px; 
	width: 550px;
}
#insti{
	margin:20px; 
	width: 550px;
}
#ingresar > img{
	 width:300px;
	 margin:20px; 
	 float:left;
}

button{
	margin-top:30px; 
	margin-left:100px; 
	width:100px; 
	height:50px;"
}

#cuadrado{
	border:15px solid white; 
	width:400px; 
	border-style:dashed;
	margin-left:58%; 
	margin-top:100px;
}
#cuadrado > h1{
	text-align:center;
}
#fb{
	padding-left:10px;
}
#tw{
	padding-left:30px;
}
#insta{
	padding-left:35px; padding-bottom:10px
}
