body {
            background-color: #2B78E4;
            font-family: Arial;
        }
        #formulario{
            margin: auto;
            width: 500px;
            border: 1px solid grey;
            border-top:16px solid #0e3e8c;
            padding: 20px;
        }
       
        img{
            display:block;
            margin: auto;
            border-top:90px solid #2B78E4;
        }
        #hola{
            display: block;
            margin: auto;
            width: 200px;
        }
        #Aboton{
            display: block;
            margin:auto;
            margin-top: 20px;
        }
        #abc{
            display: block;
            margin:auto;
            margin-top: 10px;
            text-align:center
        }
	#A1{
			color: black;
			font-size:20px;
			text-align: center;
			font-family: Arial;
		}
		#A2{
			color: white;
			font-size:14px;
			text-align: center;
			font-family: Arial;
			border-bottom:1px solid #2B78E4; 
            
		}
		#A3{
		color:#8A0808;
		text-align: center;
}
