/*Body*/
#l1-body {
            background-color: #2B78E4;
            font-family: Arial;
        }

#x-body {
			background-color:#9c9c9c;
			font-family:Arial;
		}

#a-body {
		background-color:#CEF6F5;
		}

#x1-body{
		background-color: #2B7BE4;
		font: bold 120% cursive;
		font-size:25px;
		}
 /*Img*/
 
		 #x-flecha{
			top: 140px;
			left: 1315px;
			position: absolute;
		}

        #l1-img{
            display:block;
            margin: auto;
            border-top:120px solid #2B78E4;
        }
		#A-gif{
			display: block;
			margin:auto;
			text-align:center;
			width:300px;
			margin-bottom:10px;
		}
		
		#x-logo{
			padding-left:98px; 
			margin-top:20px;
		}
		#x-fb{
			padding-left:10px;
		}
		#x-tw{
			padding-left:30px;
		}
		#x-insta{
			padding-left:35px; padding-bottom:10px
		}
		
		.social-bar{
			position:fixed;
			right:0;
			top:35%;
			font-size:1.5rew;
			display:flex;
			flex-direction:column;
			align-items:flex-end;
			z-index:100;
		}
		.icon{
			color:white;
			text-decoration:none;
			padding:20px;
			display:flex;
			transition:all .5s;
		}
		.icon-facebook{
			background:#2E406E;
		}
		.icon-instagram{
			background:#3F60A5;
		}
		.icon-youtube{
			background:#E83028;
		}
		.icon:first-child{
			border-radius:1rem 0 0 0;
		}
		.icon:last-child{
			border-radius: 0 0 0 1rem;
		}
		.icon:hover{
			padding-right: 3rem;
			border-radius:1rem 0 0 1rem;
			box-shadow:0 0 .5rem rgba(0, 0, 0 0.42);
		}
/*Estilos de letra*/
		
		#x-li{
			text-align:left;
			padding:7px;
			list-style-type:none;
		}

		#x-titulo-crear{
			margin-left:20px;
		}
        #l1-titulo{
            font-size: 20px;
            margin: auto;
            border-bottom:20px solid #2B78E4; 
            border-top: 40px solid #2B78E4;
        }
		#x-mensaje-error{
			text-align:center;
		}
		
		#x-nombre{
			margin:20px; 
			width:200px;
		}
		#x-paterno{
			margin:20 10; 
			width: 150px;
		}
		#x-materno{
			margin:20px; 
			width: 150px;
		}
		#x-correo{
			margin:20px;
			width:550px;
		}
		#x-contrasena{
			margin:20px; 
			width: 550px;
		}
		#x-insti{
			margin:20px; 
			width: 550px;
		}
		#A-titulo{
			color: black;
			font-size:20px;
			font-family: Arial;
			padding-top:10px;
			display: block;
			margin: auto;
			text-align:center;
		}
		#A-descripcion{
			color: white;
			font-size:14px;
			text-align: center;
			font-family: Arial;			         
		}
		
		#A-alerta{
			color:#8A0808;
			text-align: center;
		}
		

/*Input*/

		#x-fecha{
			font: bold 100% cursive;
			top: 160px;
			left: 1025px;
			position: absolute;
		}
        #l1-User{
            display: block;
            margin: auto;
            width: 400px;
        }
        #l1-Pass{
            border-top: 20px solid #2B78E4;
            display: block;
            margin: auto;
            width: 400px;
        }
		#A-input{
			display: block;
			padding:5px;
			width:50%;
			margin:auto;
			font-size:16px;
			margin-bottom:10px;
		}
		
		#A1-input{
			display: block;
			padding:5px;
			width:60%;
			margin:auto;
			font-size:16px;
			margin-bottom:10px;
		}
		#x-buscar{
			width:70%;
			/*background: url(https://image.flaticon.com/icons/svg/54/54527.svg) no-repeat ;*/
			background-position: 4px -91px;
			background-color:white;
		}
		
		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		
/*Divisor, header y sections*/
		#x-opciones{
			background: linear-gradient(#9FD0FF,#86C2FF);
			margin-top:5px;
		}
		
		#x-switchs{
			margin-left: 70%;
			width: 100px;
			padding-top: 15px;
		}
		
		#x-der{
			margin-left:50%;
		}
		
		#x-uno{
			margin:20px;
			height:84px;
			background: linear-gradient(#7CF5FD,#3B6CB4);
		}
		
		#x-dos{
			margin:20px;
			height:84px;
			text-align:center;
			font-size:20px;
			background: linear-gradient(#7CF5FD,#3B6CB4);
		}


		#x-tres{
			margin:20px;
			height:350px;
		}


		.switch{
			clear: both;
			margin-top: 10px;
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;
		}
		
		.switch input {display:none;}			
						
		#x-listas{
		float: left;
		width: 50%;
		margin-left: 80px;
		}
		
		#x-listaC{
			padding-top:5px;
			color: black;
			margin:auto;
			width:700px;
			height:560px;
			margin-top: 20px;
			background-image:url("http://orig08.deviantart.net/4f35/f/2013/243/1/5/hoja_de_cuaderno_png_by_luueditionss-d6kgcxo.png");

		}
		#x-izq{
			float:left;
			width:50%;
			text-align:center;
			height:670px;
		}

		#A-div{
			width:960px;
			margin:auto;
			margin-top:20px;
			margin-bottom:20px;
		}
		#A-header{
			margin-top:120px;
			width:495px;
			height:85px;
			margin:auto;
		}
		.A1-header{
			width:100%;
			background:#2B78E4;
			margin-bottom:20px;
			overflow:hidden;
		}
		
		.wrapper{
			width:90%;
			max-width:1000px;
			margin:auto;
			overflow:hidden;
		}
		
		.A1-header .logo{
			font-size:50px;
			line-height:200px;
			float:left;
		}
		
		.A1-header #menu{
			float:right;
			line-height:200px;
		}
		.A1-header #menu a{
			display:inline-block;
			color:#fff;
			text-decoration:none;
			padding:10px 20px;
			line-height:normal;
			font-size:16px;
			
		}
		.header2{
			position:fixed;
			height:100px;
		}
		.header2 .logo{
			line-height:100px;
			font-size:30px;
		}
		.header2 #menu{
			line-height:100px;
		}

		.contenido{
			padding-top:200px;

		}
		
						
	@media screen and (max-width: 950px){
		header .logo,
		header #menu{
			width:100%;
			text-align:center;
			line-height:100px;
		}
		.header2{
			height:auto;
		}
		.header2 .logo,
		.header2 #menu
		{
			line-height:50px;
		}
		}
		
		#A-header #A-logo{
			border-radius:10px;
			margin-top:60px;
		}
		
		#x-header{
			height: 70px;
			margin:auto;
		}
		#x-ingresar{
			margin-left:80px; 
			float:left; 
			width:45%; 
			margin-top:40px;  
			border-right:3px solid white;
			border-right-style:groove;
		}
		#x-ingresar > img{
			 width:300px;
			 margin:20px; 
			 float:left;
		}
		#A-section{
			width:500px;
			height:250px;
			margin:auto;
			background:#2B78E4;
			margin-bottom:20px;
			border-radius: 10px;
			margin-top:110px;
			background: linear-gradient( #80b3ff, #0066ff)
		}
		#A1-section{
			width:500px;
			height:300px;
			margin:auto;
			background:#2B78E4;
			margin-bottom:20px;
			border-radius: 10px;
			margin-top:110px;
			background: linear-gradient( #80b3ff, #0066ff)
		}
	
		#A2-section{
			width:500px;
			height:350px;
			margin:auto;
			background:#2B78E4;
			margin-bottom:20px;
			border-radius: 10px;
			margin-top:110px;
			background: linear-gradient( #80b3ff, #0066ff)
		}

		#x-contenedor{
			width:1500px;
			margin:auto;
		}
		#x1-contenedor{
			width: 1420px;
		}
		#x-cuadrado{
			border:15px solid white; 
			width:400px; 
			border-style:dashed;
			margin-left:58%; 
			margin-top:100px;
		}
		#x-cuadrado > h1{
			text-align:center;
		}	
			
/*Boton*/

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
		
		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}
		
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
		
        #l1-boton{
            display: block;
            margin:auto;
            margin-top: 40px;
            background-color: White; 
            color: white;
            padding: 10px 20px;
            text-align: center;
            color: black;
            font-size: 16px;
            border: 2px solid black;
            transition-duration: 0.4s;
            cursor: pointer;
        }
		
		#x-button{
			margin-top:30px; 
			margin-left:100px; 
			width:100px; 
			height:50px;"
		}
        
        #l1-boton:hover {
            background-color: black;
            color: white;
        }
		
		#A-boton{
			display: block;
			padding:5px;
			width:40%;
			margin:auto;
			font-size:16px;
			margin-bottom:10px;
			background: linear-gradient( #80b3ff,#00ff99);
			border:0;
			color:black;
			opacity:0.8;
			cursor:pointer;
			border-radius:10px;
		}

		#A1-boton1{
			margin-left:100px;
			padding:5px;
			width:30%;
			font-size:16px;
			margin-bottom:10px;
			padding-left:10px;
			background: linear-gradient( #80b3ff,#00ff99);
			border:0;
			color: black;
			opacity:0.8;
			cursor:pointer;
			border-radius:10px;
		}
		#A1-boton2{
			padding:5px;
			width:30%;
			font-size:16px;
			margin-bottom:20px;
			background: linear-gradient( #80b3ff,#00ff99);
			border:0;
			color: black;
			opacity:0.8;
			cursor:pointer;
			border-radius:10px;
		}
/*Links*/		

		#x-exclamacion{
			float:left;
		}

		#x-login{
			text-align:right;
			margin-bottom: 20px;
		}
        #l1-link1{
            display: block;
            margin:auto;
            margin-top: 40px;
            text-align:center
        }
        #l1-link2{
            display: block;
            margin:auto;
            margin-top: 10px;
            text-align:center
        }
		#A-link1{
			display: block;
			margin: auto;
			text-align:center;
		}
		#A-link2{
			display: block;
			margin: auto;
			text-align:center;
		}
