body{
	background-color:#2B7BE4;
	font: bold 120% cursive;
	font-size:25px;
}

#buscar{
	width:80%;
	background: url(https://image.flaticon.com/icons/svg/54/54527.svg) no-repeat ;
	background-position: 4px -91px;
	background-color:white;
}

header{
	margin:auto;
}

#izq{
	float:left;
	width:50%;
	border:1px solid black;
	text-align:center;
	height:670px;
}

#listaC{
	padding-top:40px;
	color: white;
	margin:auto;
	width:700px;
	height:500px;
	background-image:url("https://s-media-cache-ak0.pinimg.com/736x/0f/59/74/0f59740796ee22012400b9b285b5dcc3.jpg");
	margin-top:75px;
}

li{
	text-align:left;
	padding:5px;
	list-style-type:none;
	float:left;
}

#der{
	margin-left:50%;
	border:1px solid black;
}

#uno{
	margin:20px;
	border:1px solid white;
	height:100px;
	background-color:#7CF5FD;
}

#dos{
	margin:20px;
	border:1px solid white;
	height:100px;
	text-align:center;
	font-size:20px;
	background-color:#7CF5FD;
}


#exclamacion{
	float:left;
}

#tres{
	margin:20px;
	border:1px solid white;
	height:350px;
}


/**Barra on/off **/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

