body{
	background-color: #2B7BE4;
	font: bold 120% cursive;
	font-size:25px;
}

#contenedor{
	width: 1420px;
}

header{
	height: 70px;
	margin:auto;
}

#login{
	text-align:right;
	margin-bottom: 20px;
}
#opciones{
	background: linear-gradient(#9FD0FF,#86C2FF);
	margin-top:5px;
}

#buscar{
	width:70%;
	/*background: url(https://image.flaticon.com/icons/svg/54/54527.svg) no-repeat ;*/
	background-position: 4px -91px;
	background-color:white;
}

#izq{
	float:left;
	width:50%;
	text-align:center;
	height:670px;
}

#listaC{
	padding-top:5px;
	color: black;
	margin:auto;
	width:700px;
	height:560px;
	margin-top: 20px;
	background-image:url("http://orig08.deviantart.net/4f35/f/2013/243/1/5/hoja_de_cuaderno_png_by_luueditionss-d6kgcxo.png");

}

li{
	text-align:left;
	padding:7px;
	list-style-type:none;
}

#listas{
		float: left;
		width: 50%;
		margin-left: 80px;

}

#switchs{
	margin-left: 70%;
	width: 100px;
	padding-top: 15px;
}
.switch{
	clear: both;
	margin-top: 10px;
}

#der{
	margin-left:50%;
}

#uno{
	margin:20px;
	height:84px;
	background: linear-gradient(#7CF5FD,#3B6CB4);
}

#flecha{
	top: 140px;
	left: 1315px;
	position: absolute;
}

#fecha{
	font: bold 100% cursive;
	top: 160px;
	left: 1025px;
	position: absolute;
}

#dos{
	margin:20px;
	height:84px;
	text-align:center;
	font-size:20px;
	background: linear-gradient(#7CF5FD,#3B6CB4);
}


#exclamacion{
	float:left;
}

#tres{
	margin:20px;
	height:350px;
}




/**Barra on/off **/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

